@font-face {
  font-family: "Lato";
  src: url("../fuente/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "cursiva";
  src: url("../fuente/LavishlyYours-Regular.ttf") format("truetype");
}

html {
    font-size: 10px;
}

header {
    position: relative;
    z-index: 1;
}


body {
    background-color: rgb(75, 103, 103);
    font-family: "Lato";
    font-size: 1.6rem;
}

#menu_navegacion {
    border: 2px solid white;
    width: 100%;
    background-color: rgb(219, 151, 24);
}

#lista_navegacion {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.item_navegacion {
    width: 16.6%;
    padding: .2% .8%;
}

.enlace_navegacion {
    text-decoration: none;
    color: white;
    display: block;
    padding: 5%;
    text-align: center;
    font-family: "cursiva";
    font-size: 3rem;
}

.enlace_navegacion:hover {
    color: orange;
    background-color: white;
    border-radius: 5px;
}

#header_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 1% auto;
    border: 2px solid orange;
    padding: 1%;
}

.icono_header {
    width: 7%;
    margin-right: 1%;
}

#titulo_header {
    color: white;
    font-family: "cursiva";
    font-size: 6rem;
}

.info_yutu,
.info_yutu2 {
    width: 80%;
    background: white;
    padding: 25px;
    margin: 0 auto 1%;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.info_yutu2 {
    display: flex;
    align-items: center;
}

.p_info,
.p2_info {
    text-align: justify;
    font-size: 2rem;
    color: #34495e;
}

.p2_info {
    width: 48%;
}

.info_yutu img {
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}

.video_yutu {
    width: 48%;
    height: 250px;
    margin-right: 2%;
}


@media (max-width: 900px) {
    body {
        background-color: #ecf0f1;
    }

    #titulo_header {
        color: #2c3e50;
    }
}

footer {
    background-color: #b37400;
    border: 3px solid #ffffff;
    padding: .6%;
    justify-items: center;
    align-items: center;
    color: white;
}

footer a {
    color: white;
    text-decoration: underline;
}
